# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/
static/.DS_Store
content/project/wearable for health/blueprintcloseup.jpeg
content/project/wearable for health/close-up-service-blueprint-annotation.jpeg
content/project/wearable for health/featured.jpg