/* Custom CSS by F.MacNeill - last updated 5/8/21 */

/*Class added to define h1 style in header*/
.navbar-header {
    color: #000;
    margin-top: -5px;
}

.navbar {
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

navbar-main .main-menu-item ul li .nav-link {
    text-decoration: underline;
}

.navbar-brand:hover {
    text-decoration: underline;
}

/*.navbar-light .navbar-light .navbar-brand:focus {
    color: #0550a2;
}*/

.navbar .navbar-nav .nav-link.active {
    color: #a6026f !important;
}

.nav-link.active {
     text-decoration: underline;
}

.nav-item.active {
     text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}


/* h2 style class - replacing the h1 class */

.mb-0, .my-0 {
    font-size: 1.75em;
}

/* Projects container was cutting off projects, this is a basic fix which need to be tested on different screensizes */

.projects-container {
    height: 500px;
    overflow: visible;
}

/* h3 project title class for cards */

.project-title {
    font-weight: 700;
    margin-top: 1rem;
    font-size: 1rem;
}

/* Line 75 of about.html custom heading style for h2 */

#about-heading {
    font-size: 1.75em;
}

/* Controlling the About page */

.portrait-title h3 {
    color: #393939;
}

#profile {
    padding: 0px 10px;
}

#profile .network-icon {
    margin-top: 20px;
}

/* Bio/Intro text styles */

.article-style {
    line-height: 2;
}

.article-metadata {
    color: rgba(0, 0, 0, 0.67);
}

/* A funky pink background for key elements of text */

.highlighter-pen {
    background: #fdbfe8;
    padding: 5px;
}

.card .card-text p {
    color: rgb(87, 87, 87);
}

.author-card .card-subtitle {
    color: rgb(77, 76, 76);
}

/*Temporary addition while there are only three projects this allows them to be presented on one row - original value is included below */
.project-item:last-of-type {
    margin: 0 0 20px 0;
    /*margin-bottom: 0;*/
}

/* Customising the 'Page' layout */

ul.skills-list {
    column-count: 2; 
    column-gap: 1%;
    padding-bottom: 1%;
}

blockquote {
    color: #514f4f;
}

.docs-links {
    margin-left: 15px;
}

.docs-sidebar .nav > li > a {
    padding: 0.25rem 1.5rem 0.25rem 0;
}
